body{
    width:100%;
    height:100%;
    background: #141414;
    font-family: Arial;
    overscroll-behavior: none;
}
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*-------terminal--------*/
#Console{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:250px;
	z-Index:10;
}
#Console input{
	height:40px;
	width:100%;
	float:left;
	border:none;
}
#Console .controls{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.btn{
	box-sizing:content-box;
	text-align: center;
	font-size:16px;
    float:left;
	width: 105px;
    color:white;
    background:#4d4d4d;
    padding:10px;
    border:none;
    cursor:pointer;
}

#connect{ background: #4d6d4d; }
#disconnect{ background: #6d4d4d; }
form .btn{ background: #4d4d6d; }

.btn:hover{
    background:#5f5f5f !important;
}
#terminal{
	height:calc(100% - 120px);
	background:#2d2d2d;
	overflow-y:auto;
	width:100%;
}

#terminal div       { color: gray; }
#terminal div.out   { color: red; }
#terminal div.in    { color: blue; }

/*----------------*/
#EnterTheVoid{
	background: rgba(15,15,15,.9);
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	z-Index:5;
}
#EnterTheVoid .btn{
	padding:20px;
	width:100px;
	border-radius:5px;
	text-align: center;
	background:#4d4d4d;
	position: absolute;
	left:calc(50% - 70px);
	top:calc(50% - 35px);
}

/*----top menu-----*/
#burger{
    position:absolute;
    top:15px;
    left:15px;
    background-image: url(images/floydlampApp4-11.png);
	z-Index: 9;
}
#refresh{
    position: absolute;
    top:15px;
    right:15px;
    background-image: url(images/floydlampApp4-12.png);
}
.icon{
    width:50px;
    height:50px;
    background-size: contain;
}

/*----sliders-----*/
.slider .icon{
    width:40px;
    height:40px;
}
#brightness .icon{
    background-image: url(images/floydlampApp4-13.png);
}
#speed .icon{
    background-image: url(images/floydlampApp4-14.png);
}
.slider.vertical{
    width:40px;
    height:100%;
    cursor:pointer;
}
.slider.vertical .line{
    height: calc(100% - 40px);
    width: 2px;
    margin-left:20px;
    background: white;
    pointer-events: none;
}
.slider.vertical .line .fill{
    height: 50%;
    margin-top: 50%;
    background: #4d4d4d;
    width: 100%;
}

#brightness{
    position: absolute;
    left: -40px;
}
#speed{
    position: absolute;
    right:-40px;
}

/*----triangle----*/
#light{
    position: absolute;
    top:100px;
    left: 50%;
    height: calc(100vw - 120px);
    width:  calc(100vw - 120px);
    transform: translate(-50%,0);
    /*border: 1px solid grey;*/
}
@media (orientation: landscape){
    #light{
        top:10px;
        max-height:calc(100vh - 40px);
        max-width: calc(100vh - 40px);
    }
}
#light > div{
    float:left;
}

#triangle{
    position: absolute;
    width:100%;
    height:100%;
}
#triangle .c{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#triangle #cA{
    background-image: url(images/floydlampApp4-15.png);
    filter: saturate(0%) brightness(500%);
}
#triangle #cB{
    background-image: url(images/floydlampApp4-16.png);
    filter: hue-rotate(60deg) brightness(300%);
}
#triangle #cC{
    background-image: url(images/floydlampApp4-17.png);
    filter: hue-rotate(120deg) brightness(200%);
}
#triangle .button{
    position: absolute;
    height:30%;
    width:30%;
}
#btnA{
    left:35%;
    top:0%;
}
#btnC{
    left:0;
    bottom:0;
}
#btnB{
    right:0;
    bottom:0;
}

/*---------------*/
.button{
    cursor:pointer;
    transition: opacity .2s;
}
.button:hover{
    opacity:.7;
}
/*-----color wheel-----*/
#color{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: #141414;
}
#color #wheel{
    margin-left: calc(30px + 50vw - 50vmin);
    margin-top: 30px;
    width:calc(100vmin - 80px);
    height:calc(100vmin - 80px);
    background-image: url(images/color_wheel.png);
    background-size: contain;
    background-repeat: none;
    border: 10px solid white;
    border-radius: 50%;
}